<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="card-header" style="background-color:#CC0000;font-family:Arial;color:white;">
    Boston University COVID-19 Dashboard
  </h1>

  <div class="row ml-5 mr-5">
    <div class="col" style="text-align:center">
        <div class="row">
          <h4 style="text-align:center;margin-top:50px;margin-bottom:20px">
            Positive Tests
          </h4>
        </div>
        <div class="row dark" style="border-radius=25px;border-radius: 15px;border: 2px solid #000000;">
              <ngx-charts-bar-vertical
              [view]="view"
              [scheme]="colorScheme"
              [results]="positives"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
              </ngx-charts-bar-vertical>
        </div>


      </div>
      <div class="col pl-5">
        <div class="row">
          <h4 style="margin-top:50px;margin-bottom:20px">
            Testing Trends
          </h4>
        </div>
        <div class="row dark" style="border-radius=25px;border-radius: 15px;border: 2px solid #000000;">
          <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:40px">
      <div style="margin: 0 auto;">
        <h4 style="margin-top:50px;margin-bottom:20px">
          Infection Status
        </h4>
      <ngx-charts-number-card
      [view]=[550,200]
      [scheme]="colorScheme3"
      [results]="cardData">
      </ngx-charts-number-card>
      </div>
    </div>


</div>
<router-outlet></router-outlet>
